body{
  width:100%;
  margin: 0 0 0 0px;
  float:left;
  background-image: url(https://waspnx.files.wordpress.com/2015/09/cropped-2013-01-18-21-13-12.jpg);
}


header {
  max-width: 100%;
  border: 10px solid white;
  text-align: center;
  font-weight: 900;
  background-color: #d9d9d9;
  margin: 10px 10px 10px 10px;
}

h1, h2{
  color: black;
  font-weight:normal;
  
  }

/*h1TITLE: WesleyAspinall*/


h1 {
  font-family: 'Codystar', cursive;
  font-size: 5em;
  text-align: center;
  width: 100%;
  padding: 10px 0 0 0px;
  margin: 0 0 0px 0px;
  }




  /*STUDENT @ ...*/

  h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  margin: 0 0 0px 0px;
  padding-bottom: 10px;
  }



/*SOCIAL MEDIA ICONS*/

.twittericon, .fbicon {
  width: 30px;
  height: 30px;
  display:inline-block;
  float: left;
  margin-right: 10px;
}

.socialmedia {
  text-align: center;
  margin-right: 40px;
}
.socialmedia ul {
  list-style: none;
}

.socialmedia li {
  display: inline-block;
}




/*BEGIN CONTENT BELOW THE HEADER*/

div.websitecontent {
  max-width: 100%;
  text-align: left;
  margin-right: 0px;
}



/*PICTURES*/

#gallery {
  text-align: center;
  width: 95%;
  padding-right: -10px;
  margin-left: -10px;
}


#gallery ul {
  list-style: none;
}


#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  color: #bdc3c7;
}

#gallery img {
  max-width: 100%;
  border: 10px solid white;
}


/*TEXT SECTION BELOW IMG GALLERY*/

#text {
  display: inline-block;
  float: left;
  margin-left: 0px;
  max-width: 100%;
  border: 10px solid white;
  text-align: center;
  background-color: #d9d9d9;
}

#text p {
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  text-shadow: #CCC 1px 0 10px;
}


#text p a {

  text-decoration: none;
  max-width: 100%;
}


#text a:hover {
  text-shadow: black 2px 5px;
}



/*FOOTER*/

footer {
  font-family: 'Codystar', cursive;
  clear:both;
  text-align: center ;
  color: white;
  font-size: .75em;
  background: black;
}

footer img {
  border-radius: 20%;
  max-width: 60px;
}